[Desktop Entry]
Name=pyGtranslator
Comment=GUI tool for Google translate
Exec=pygtranslator
Terminal=false
Type=Application
Icon=pygtranslator
Categories=GTK;Application;Utility;Accessories;
Encoding=UTF-8

